@model IEnumerable<LMS.UI.MVC.Models.EmployeeReportsViewModel>

@{
    ViewBag.Title = "Employee";
}

<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>Achievements</h1>
            </div>
            <div class="col-md-6 text-right">
                <div class="bread">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Courses</a></li>
                        <li class="active">Achievements</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white section">
    <div class="container">
        <div class="row">
            <div id="course-left-sidebar" class="col-md-3">
                <div class="section-title employee-report__name">
                    <h4>@ViewBag.EmployeeName</h4>
                </div>
                <div class="course-meta">
                    <p class="employee-report__reports-to--spacing">Reports To <span class="label label-primary">@( ViewBag.ManagerName == null ? "Not Assigned" : ViewBag.ManagerName)</span></p>
                    <hr>
                    <p>Completed Courses <small class="label label-primary">@ViewBag.CourseCompleteCount</small></p>
                    <hr>
                    <p>Completed Lessons <small class="label label-primary">@ViewBag.LessonCompleteCount</small></p>
                    <hr>
                </div>
            </div>
            <div id="course-content" class="col-md-9">
                <div class="course-description">
                    <h3 class="course-title">Your Progress</h3>
                    <p>Each employee is responsible for completing six courses per calendar year to stay current on continuing education. It is essential to keep up-to-date on the technologies we use and get a glimpse at new technologies. <a href="#">took</a>..</p>
                    <div class="row">
                        <div class="achievement-wrapper col-md-6">
                            <img src="~/content/upload/xbadge_01.jpg.pagespeed.ic.7sR81VjNIg.jpg" alt="" class="alignleft">
                            <h4>Completed Profile</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="achievement-wrapper col-md-6">
                            <img src="~/content/upload/xbadge_02.jpg.pagespeed.ic.tGcqu0q68d.jpg" alt="" class="alignleft">
                            <h4>Completed a Course</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="achievement-wrapper col-md-6">
                            <img src="~/content/upload/xbadge_03.jpg.pagespeed.ic.7i4Y7ZiVpj.jpg" alt="" class="alignleft">
                            <h4>Members of more than 1+ Year</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="achievement-wrapper col-md-6">
                            <img src="~/content/upload/xbadge_04.jpg.pagespeed.ic.K24ADnID_t.jpg" alt="" class="alignleft">
                            <h4>Winning of a Course</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="achievement-wrapper col-md-6">
                            <img src="~/content/upload/xbadge_05.jpg.pagespeed.ic.iD5n0TOxNG.jpg" alt="" class="alignleft">
                            <h4>Completed a Quiz</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="achievement-wrapper col-md-6">
                            <img src="~/content/upload/xbadge_06.jpg.pagespeed.ic.GfHOK9UUgx.jpg" alt="" class="alignleft">
                            <h4>Helped to LearnPLUS Tricks</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

