@{
    ViewBag.Title = "About";
}

<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>About Us</h1>
            </div>
            <div class="col-md-6 text-right">
                <div class="bread">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">About Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="white section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="media-element">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <!-- TODO: Maybe change pictures? -->
                                <img src="~/content/upload/xabout_01.jpg.pagespeed.ic.kjNqMAPXcG.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="~/content/upload/xabout_02.jpg.pagespeed.ic.D36tpcmMNB.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="fa fa-angle-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="fa fa-angle-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-widget">
                    <div class="widget-title">
                        <h4>Welcome to A+ Inc. LMS</h4>
                        <hr>
                    </div>
                    <p>A+ Inc. LMS is a Learning Management System built as a final project while attending Centriq Training: Full-Stack Web Development. I decided to create an LMS site because I have used many LMS sites in my prior career and wanted to put my own spin on it. Often company intranet LMS sites are old and clunky! I took this opportunity to make my own LMS, and I hope you enjoy it.</p>
                    @*<div class="row">
                            <div class="col-md-6">
                                <ul class="check">
                                    <li>24/7 Online Course</li>
                                    <li>Works with All Devices</li>
                                    <li>Friendly User Panel</li>
                                    <li>Support Desk for All Issues</li>
                                </ul>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
        <hr class="invis1">
        <div class="row">
            <div class="col-md-6">
                <div class="content-widget">
                    <div class="widget-title">
                        <h4>Project Information</h4>
                        <hr>
                    </div>
                    <div class="accordion-widget">
                        <div class="accordion-toggle-2">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
                                                <h3>PROJECT OBJECTIVE<i class="indicator fa fa-plus"></i></h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Employees are required to educate themselves continually. Each employee must complete six courses of continuing education each calendar year. Needed is an online system where employees can sign in and view course lessons to watch a linked video and/or read an uploaded PDF. After completing all tasks for a course, the system should email their manager informing them of their completion.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
                                                <h3>TARGET AUDIENCE & USERS<i class="indicator fa fa-plus"></i></h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul class="check">
                                                            <li>Administrators</li>
                                                            <li>Managers</li>
                                                            <li>Employees</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
                                                <h3>TECHNICAL ARCHITECTURE<i class="indicator fa fa-plus"></i></h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <ul class="check">
                                                            <li>ASP.Net MVC</li>
                                                            <li>Login Capabilities</li>
                                                            <li>CRUD Functionality for a Continuing Education Database</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-widget">
                    <div class="widget-title">
                        <h4>Tehcnologies Used</h4>
                        <hr>
                    </div>
                    <div class="teacher-skills">
                        <p>C# (Sharp) - 50%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%;">
                                <span class="sr-only">C# (Sharp) 50%</span>
                            </div>
                        </div>
                        <p>JavaScript - 20%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 20%;">
                                <span class="sr-only">JavaScript 17%</span>
                            </div>
                        </div>
                        <p>HTML - 20%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 20%;">
                                <span class="sr-only">HTML 20%</span>
                            </div>
                        </div>
                        <p>CSS - 10%</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 10%;">
                                <span class="sr-only">CSS 10%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>