.navbar__icon {
    width: 100px;
}

.ttmenu .navbar-brand {
    top: -36px;
}

.jumbotron__call-to-action {
    margin-top: 128px;
    background: rgba(255,255,255,.8) ;
}

.jumbotron__call-to-action--btn {
    margin-top: 126px;
}

.email__confirmation-screen {
    height: calc(100vh - 215px);
}

.class-list__image--size {
    width: 274px;
    height: 182px;
}

.course-list__grid,
.contact-page__contact-details,
.course-details__grid {
    margin-bottom: 100px;
}

.blog-image {
    display: flex;
}

#player {
    margin: auto;
    margin-top: 2rem;
}

.image__greyscale--100 {
    filter: grayscale(1);
}

a[alt]:hover:after {
    content: attr(alt);
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted #666;
    text-align: left;
}

.employee-report__name {
    margin-bottom: 0;
}

.employee-report__reports-to--spacing {
    display: flex !important;
    justify-content: space-between;
    padding-right: 0 !important;
}

.course-meta .label-primary {
    width: auto;
}

.courses__completed--seperator::before {
    content: "|";
    margin-right: 1em;
}

.toggleVisible {
    display: none;
}

.manager-report__employee-name--link {
    cursor: pointer;
}

.admin__edit-btn {
    margin-bottom: .5em;
}

.usersadmin__submit-btn {
    margin-top: 1em;
}

.account-login__container {
    margin-bottom: 79px;
}